<form class="form-horizontal" autocomplete="off" (ngSubmit)="save()">
  <abp-modal-header [title]="'Add a new project'" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body fixed-modal-height">
    <div class="row ui-fluid">
      <div class="col-md-6">
        <label for="">PM *</label>
        <input type="text" pInputText  class="form-control">
      </div>

      <div class="col-md-6">
        <label for="">Project name *</label>
        <input type="text" pInputText  class="form-control">
      </div>
    </div>

    <div class="row ui-fluid">
      <div class="col-md-6">
        <label for="">Customer *</label>
        <input type="text" pInputText  class="form-control">
      </div>

      <div class="col-md-6">
        <label for="">Status *</label>
        <input type="text" pInputText  class="form-control">
      </div>
    </div>

    <div class="p-fluid p-grid p-formgrid" style="display: flex;">
      <div class="p-col-4" style="padding-right: 7.5px;">
          <label>Start time *</label>
          <p-calendar [styleClass]="'custom-height'" [dateFormat]="'dd/MM/yyyy'" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2020:2030'" readonlyInput="true"></p-calendar>
      </div>

      <div class="p-col-4" style="padding-left: 7.5px;">
          <label>End time *</label>
          <p-calendar [styleClass]="'custom-height'" [dateFormat]="'dd/MM/yyyy'"
          [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2020:2030'" readonlyInput="true"></p-calendar>
      </div>
    </div>

    <div class="row ui-fluid">
      <div class="col-md-12">
        <label>Note</label>
        <textarea class="form-control" rows="4"></textarea>
      </div>
    </div>

  <div class="mt-10" style="text-align: right;">
      <button type="button" class="btn btn-danger" [disabled]="filesAllFile.length === 0"
          (click)="xoaListFile()"><i class="fas fa-trash"></i>
          <span style="margin-left: 5px;">Delete all</span></button>
  </div>

  <div class="ui-fluid row">
      <div class="col-md-12">
          <div class="form-group">
              <label>Attached files</label>
              <ngx-dropzone (change)="onSelectAllFile($event)"
                  [multiple]="true" accept=".doc,.docx,application/pdf, application/vnd.ms-excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
              .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                  <ngx-dropzone-label style="font-size: 13px !important;">Choose file...</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of filesAllFile"
                      (removed)="onRemoveAllFile(f)">
                      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                  </ngx-dropzone-preview>
              </ngx-dropzone>
          </div>
      </div>
      <div class="col-md-12">
          <ul class="list-unstyled">
              <li *ngFor="let file of demoDto?.listFile">
                  <a (click)="onDownloadFile(file.linkFile)" class="text-primary">{{file.tenFile}}</a>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <abp-modal-footer [cancelLabel]="'Close'" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
