<div class="p-grid table-demo mt-15 ml-20 mr-15">
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Projects</h1>
        </div>
      </div>
    </div>
  </section>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage()">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword" (keyup.enter)="getDataPage()"/>
            </div>
          </div>
        </div>
    </div>
      <div *ngIf="checkGrant" class="row justify-content-end mt-10 mr-55 mb-10">
        <button type="button" class="btn btn-success mr-10" (click)="ExportExcel()"><i class="fa fa-download"></i> Export</button>
        <button type="button" class="btn btn-primary" (click)="createProject()"><i class="fa fa-plus mr-5"></i>Add</button>
      </div>
      <div class="table mb-5 mt-10">
        <p-table #dt [value]="records" [lazy]="true" (onLazyLoad)="getDataPage($event)" [rowHover]="true" [rows]="5"
          [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20,50]" [loading]="loading" [totalRecords]="totalRecords"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [filterDelay]="0" styleClass="p-datatable-gridlines" (sortFunction)="getDataPage($event)" [customSort]="true">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 20px;"></th>
              <th>STT</th>
              <th pSortableColumn="projectName">Project <p-sortIcon field="projectName"></p-sortIcon></th>
              <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
              <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
              <th pSortableColumn="startDate">Start date <p-sortIcon field="startDate"></p-sortIcon></th>
              <th pSortableColumn="endDate">End date <p-sortIcon field="endDate"></p-sortIcon></th>
              <th pSortableColumn="projectManagerName">PM <p-sortIcon field="projectManagerName"></p-sortIcon></th>
              <th *ngIf="checkGrant"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record let-i="rowIndex">
            <tr>
              <td>
                <div class="dropdown">
                  <button class="btn btn-sm btn-transparent btn-action"
                      type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" (click)="ProjectDetails(record.id)">
                      <i class="fas fa-ellipsis-v"></i>
                  </button>
                </div>
              </td>
              <td>{{ i + 1 }}</td>
              <td>{{ record.projectName }}</td>
              <td>{{ record.customer }}</td>
              <td style="text-align: center;">
                <span class="style-status" [ngStyle]="{'background-color': record.status === 0 ? '#ffd8b2' : (record.status === 1 ? '#c8e6c9' : '#ffcdd2'),
                'color': record.status === 0 ? '#805b36' : (record.status === 1 ? '#256029' : '#c63737')}">
                  {{ record.statusName }}
                </span>
              </td>
              <td>{{ record.startDate | date:'dd/MM/yyyy'}}</td>
              <td>{{ record.endDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ record.projectManagerName }}</td>
              <td *ngIf="checkGrant" style="text-align: center;">
                <button class="btn btn-primary mr-5" type="button" (click)="viewProject(record.id, record.status)">
                  <i class="pi pi-eye"></i>
                </button>
                <button type="button" class="btn btn-warning btn-transparent btn-action mr-5"(click)="createProject(record.id)">
                  <i class="fas fa-edit"></i>
                </button>
                <p-button [styleClass]="'custom-height-width'" (click)="deleteProject(record)" icon="fas fa-trash-alt"></p-button>
                <!-- <button type="button" class="btn btn-danger btn-transparent btn-action" (click)="deleteProject(record)">
                  <i class="fas fa-trash-alt"></i>
                </button> -->
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">Data not found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
</div>
