.flex-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

div.table {
    width: 100%;
    color: #212529;
}


::ng-deep {
    app-job-management {
        .p-paginator-bottom {
            height: 60px;
        }

        .p-paginator-bottom.p-paginator.p-component.ng-star-inserted {
            padding-top: 0;
            padding-bottom: 0;
        }

        .custom-height-width {
            height: 37.6px;
            width: 41.6px;
        }

        .p-button {
            background: #EF4444;
            border: 1px solid #EF4444;
        }

        .p-button:hover {
            background: #DC2626 !important;
            border-color: #DC2626 !important;
        }

        span.style-status {
            border-radius: 2px;
            padding: .25em .5rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: .3px;
        }
    }
}
