.flex-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

div.table {
    width: 100%;
    color: #212529;
}


::ng-deep {
    app-job-management {
        .p-paginator-bottom {
            height: 60px;
        }

        .p-paginator-bottom.p-paginator.p-component.ng-star-inserted {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
