<div class="p-grid table-demo mt-15 ml-20 mr-15">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Projects</h1>
        </div>
      </div>
    </div>
  </section>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="load()">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"/>
            </div>
          </div>
        </div>
    </div>
      <div class="row justify-content-end mt-10 mr-55 mb-10">
        <button type="button" class="btn btn-success mr-10" (click)="ExportExcel()"><i class="fa fa-download"></i> Export</button>
        <button type="button" class="btn btn-primary" (click)="createProject()">Thêm mới</button>
      </div>
      <div class="table mb-5">
        <p-table #dt [value]="records" [lazy]="true" (onLazyLoad)="load($event)" [rowHover]="true" [rows]="5"
          [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20,50]" [loading]="loading" [totalRecords]="totalRecords"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [filterDelay]="0" styleClass="p-datatable-gridlines" (sortFunction)="customSort($event)" [customSort]="true">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 20px;"></th>
              <th>STT</th>
              <th pSortableColumn="name">Dự Án <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="description">Khánh hàng <p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="status">Trạng Thái <p-sortIcon field="status"></p-sortIcon></th>
              <th pSortableColumn="created">Thời gian bắt đầu <p-sortIcon field="created"></p-sortIcon></th>
              <th pSortableColumn="modified">Thời gian kết thúc <p-sortIcon field="modified"></p-sortIcon></th>
              <th pSortableColumn="email">Quản lý dự án <p-sortIcon field="email"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record let-i="rowIndex">
            <tr>
              <td>
                <div class="dropdown">
                  <button class="btn btn-sm btn-transparent btn-action"
                      type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" (click)="ProjectDetails(record.id)">
                      <i class="fas fa-ellipsis-v"></i>
                  </button>
                </div>
              </td>
              <td>{{ i + 1 }}</td>
              <td>{{ record.name }}</td>
              <td>{{ record.description }}</td>
              <td>{{ record.status }}</td>
              <td>{{ record.created }}</td>
              <td>{{ record.modified }}</td>
              <td>{{ record.email }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">Không có dữ liệu</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
</div>
