::ng-deep {
    app-project-details {
        .p-paginator-bottom {
            height: 60px;
        }

        .p-paginator-bottom.p-paginator.p-component.ng-star-inserted {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

div.table {
    width: 100%;
    color: #212529;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}
