::ng-deep {
    app-add-job {
        .custom-height {
            height: 38px;
            width: 375.7px;
        }

        .p-dropdown-trigger {
            background: #3B82F6 !important;
            color: #fff !important;
        }

        .p-dropdown .p-dropdown-clear-icon {
            right: 3.5rem !important;
        }
    }
}
