::ng-deep {
    app-workReport {
        .custom-height-width {
            width: 330px;
            height: 38px;
        }
        .custom-height {
            height: 38px;
        }

        .p-inputtext.p-component.p-element.p-inputnumber-input {
            height: 38px;
            width: 70px;
        }

        p-checkbox {
            margin-left: 30%;
            margin-top: 15%
        }
    }
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

button.bg-transparent {
    background-color: transparent;
    border: none;
}
